@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
    /*background-image: url(../images/back10.jpg);*/
    background-size: contain;
    background-color:  rgb(75, 64, 64);
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(41, 31, 31);
  height: 218px;
  border-radius: 15px;
}

.logo>img {
  height: 200px;
  width: 350px;
 border-radius: 10px;
}

nav>.logo,
.navLinks {
  margin: 8px;
}

nav>.navLinks>ul>li {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  border: 2px solid whitesmoke;
  margin-left: 50px;
}

nav>.navLinks>ul>li {
  color: whitesmoke;
  text-decoration: none;
}

nav>.navLinks>ul>li>a {
  color: whitesmoke;
  text-decoration: none;
}

nav>.navLinks>ul>li:hover {
  background-color: rgb(53, 29, 53);
}

nav>.navLinks>ul>li a:hover {
  color:black;
}

/* dropdown */
.dropbtn {
  color: whitesmoke;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(53, 29, 53);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .mypic {
      height: 500px;
      width: 500px;
      background-color: rgb(41, 31, 31);
      border-radius: 15px;
  }
  .mypic > img {
      height: 500px;
      width: 500px;
      object-fit: cover;
      border-radius: 15px;
  }
  .details {
      height: 500px;
      width: 500px;
      background-color: rgb(41, 31, 31);
      border-radius: 15px;
      }
      .details > p {
text-align: center;
color: whitesmoke;
      }
  .services1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .services2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.service {
    height: 350px;
    width: 375px;
    background-color: rgb(41, 31, 31);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 15px;
}
/* big five gallery */


.big {
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }
  
  .five {
    width: 20%;
    background-color: rgb(41, 31, 31);
    margin: 5px;
    border-radius: 15px;
  }
  .five > p {
      text-align: center;
  }
  
  .five>img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
    object-fit: cover;
  }
  
  .big {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .five:hover img {
    opacity: 0.3;
  }
  
  .five img:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
  }
  .reach {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .form {
    height: 350px;
    width: 300px;
    background-color: rgb(41, 31, 31);
    text-align: center;
    display: flex;
    border-radius: 15px;
}
#message {
    height: 30%;
}
.blog {
    height: 350px;
    background-color: rgb(41, 31, 31);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    background-color: rgb(41, 31, 31);
    border-radius: 15px;
}
.social-links {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
}
#submit {
    margin-top: 20px;
}
.discover > h3{
    margin-left: 80px;
    color: pink;
}
.discover > h2{
    margin-left: 80px;
    color: whitesmoke;
}
.details > ul > li {
    padding: 10px;
  color: whitesmoke;
  text-decoration: none;
  list-style: none;
}
.details > a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: pink;
    background-color: darkgrey;
    margin-left: 160px;
    margin-right: 160px;
    border: 2px solid pink;
    border-radius: 5px;
}
.offers > h3{
    margin-left: 80px;
    color: pink;
}
.offers > h2{
    margin-left: 80px;
    color: whitesmoke;
}
.offers > p {
    max-width: 700px;
    text-align: center;
    margin-left: 200px;
    color: whitesmoke;
}
.service > p,h3 {
color: whitesmoke;
}
.activity > h3{
    margin-left: 80px;
    color: pink;
}
.activity > h2{
    margin-left: 80px;
    color: whitesmoke;
}
.outy > h3{
    margin-left: 80px;
    color: pink;
}
.outy > h2{
    margin-left: 80px;
    color: whitesmoke;
}
.blog > a {
    display: block;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: pink;
    background-color: darkgrey;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 5px;
    border: 2px solid pink;
    border-radius: 5px;    
}
#p1 {
    margin-top: 130px;
    color: whitesmoke;
}
.list-header {
    color: whitesmoke;
}
#xx {
    display: block;
    text-align: center;
    text-decoration: none;
    color: pink;  
}
#xy {
    color: pink;
}